
.zfs_pool_separator {
  color: inherit;
}

.zfs_pool_name {
  color: inherit;
}

.zfs_pool_state_online {
  color: green;
}

.zfs_pool_state_offline {
  color: grey;
}

.zfs_pool_state_degraded {
  color: orange;
}

.zfs_pool_state_faulted {
  color: red;
}

.zfs_pool_state_removed {
  color: grey;
}

.zfs_pool_state_unavail {
  color: grey;
}
